<IfModule mod_rewrite.c>
  
	SetEnv CI_ENV 'development'
  
	SetEnv AZURE_STORAGE_ACCOUNT storageevidenciaimages
  
	SetEnv AZURE_STORAGE_KEY Ha/FB5iguJmWDxhAziKSKMteohqt435/ODDYFjkeTMaWyAdNdJEL5ja3Hw1xqiWo80ajH6ClTkt/jc+QSa4KKA==
  Options +FollowSymlinks
  

	RewriteEngine on
  RewriteCond $1 !^(index\.php|images|css|js|robots\.txt)
    
	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
   
	RewriteRule ^(.*)$ index.php?$1 [L]

</IfModule>

<IfModule !mod_rewrite.c>
    
	# If we don't have mod_rewrite installed, all 404's
    
	# can be sent to index.php, and everything works as normal.
    
	# Submitted by: ElliotHaughin
    
	#ErrorDocument 404 /index.php

</IfModule>