<IfModule mod_rewrite.c>
  SetEnv CI_ENV 'release'
  Options +FollowSymlinks
  RewriteEngine on
  RewriteBase /

  RewriteCond $1 !^(index\.php|images|css|js|robots\.txt)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?$1 [L]
</IfModule>