
*{
	margin: 0;
	padding: 0;
}

html,
body {
  height: 100%;
  background-color: #e5e5e5;
  margin: 0;
  overflow-x: hidden;
}

.container-fluid {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.alert{
	float: right;
}

.modal-login {
			
	color: #636363;
/*	width: 330px;*/
}

.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-login .modal-header {
	border-bottom: none;   
	position: relative;
	justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
	border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	justify-content: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
}
.modal-login .modal-footer a {
	color: #000;
}		
.modal-login .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #FFF;
	transition: all 0.4s;
	padding: 15px;
}
.modal-login .avatar img {
	width: 100%;
}

.modal-login.modal-dialog {
	margin-top: 130px;
}

.modal-login .btn {
	color: #fff;
	border-radius: 4px;
	background: #666;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}

.btn:hover {
	background: black;
	outline: none;
}

.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

.geral{
	display: flex;
	flex-flow: column;
}

.content{
	flex: 1 50 100%;
}

.row{
	flex: 1 0 100%;
}
.container-fluid{
	padding: 0px;
}

.navbar {
	background-color: #666;;
	border: none;
	border-radius: 0;
	color: rgba(255, 255, 255, 1.0) !important;
	margin: 0;
	margin-left: 10px;

}

.navbar-toggler{
	background-color: white;

}
.navbar-toggler: active{
	border-color: white;
	
}

.navbar-nav{
	flex: 1 0 auto; 
	padding: 8px;
}

.nav-item {
	font-family: 'Maven Pro', sans-serif;
	color: rgba(255, 255, 255, 1.0) !important;

}

.navbar-brand {
	color: rgba(255, 255, 255, 1.0) !important;
	font-family: 'Maven Pro', sans-serif;
}

.info{
	background-color:  #666;
	font-family: 'Poppins', sans-serif;
	color: white !important;
	padding-top: 6%;
	padding-left: 10%;
	flex: 1 0 auto;
}


.titulo > h2{
	text-align: left;
	font-size: 40pt;
}

.sobretitulo{
	padding-top: 2%;
	padding-left: 0px;
	text-align: justify;
}

.sobretitulo > h3{
	text-align: left;
	font-size: 200%;
}

.area-acesso{
	flex: 1 0 100%;
}

.sobre{
	padding-left: 0%;
	padding-top: 2%;
	text-align: justify;
}

.sobre > p{
	margin-bottom: 0px;
}

.rodape{
	margin: 0px;
	padding-top: 4%;
	background-color:  #666;
	font-size: 8pt;
	color: white;
	text-align: center;
	flex: 0 0 auto;
}

.abrir-acesso{
	font-size: 14pt;
	width: 30%;
	text-align: center;
}

.col-md-8{
	padding: 0px !important;
	margin: 0;
}

.manchete{
	padding: 0px !important;
}
